* {
    --product-detail-height: 515px
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin-top: 10px;
}

.product_detail {
    display: flex;
    flex-direction: row;
    height: var(--product-detail-height);
    padding: 16px 10px;

    .product_images {}

    .product-infor {
        padding: 0 10px;

        .product-name {}

        .product-details {
            .product-status {
                .brand {}

                .product_id {}

            }

            .price-box {
                margin: 15px 0px 10px;
                padding: 10px 16px;
                width: 100%;
                display: flex;

                background: #f1f1f1;
                border-radius: 4px;
                justify-content: space-between;

                .price {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }

                .current {
                    font-size: 30px;
                    color: var(--price-color);
                    font-weight: 600;
                    line-height: 30px;
                    font-family: inherit;
                }

                .sale {
                    margin-left: 10px;
                    text-decoration: line-through;

                }

                .discount {
                    position: relative;

                    width: 68px;
                    height: 68px;
                    background: url(https://theme.hstatic.net/1000230347/1000729967/14/icon-product-discount_large.png) center no-repeat;
                    text-align: center;
                    color: #fff;
                    font-size: 11px;

                    span {
                        margin-top: 20px;
                        display: block;
                        line-height: 15px;
                    }

                    strong {
                        font-weight: bold;
                        font-size: 14px;
                        display: block;
                    }
                }
            }

            .quantity {
                display: flex;
                margin-bottom: 20px;
                line-height: 20px;

                button {
                    margin: 0 5px;
                    padding: 4px;
                    width: 30px;
                    border: 1px solid #ced4da;
                    height: 30px;
                    border-radius: 4px;

                }

                input {
                    width: 70px;
                    height: 30px;
                    text-align: center;
                    border-radius: 0;
                    display: inline-block;
                    vertical-align: middle;
                    border: 1px solid #ced4da;
                    padding: 0.375rem 0.75rem;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #495057;
                    background-color: #fff;
                    background-clip: padding-box;

                }
            }

        }


    }

}

.action {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.4rem;

    Button {
        padding: 0 5px;
        width: 170px;
        height: 45px;

    }

}

.product-policises {
    outline: 1px solid var(--price-color);
    border-radius: 5px;
    height: fit-content;
    padding: 10px 0px;
    margin-top: 20%;

    h5 {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

}

.product-policises-list {

    li {
        list-style: none;
    }
}

img {
    object-fit: cover;
}


.product_desc {
    .configuration {

        table,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            width: 100%;
            font-size: 1.6rem
        }


        td:nth-child(odd) {
            background-color: #f7f7f7 !important;
            border-color: #eeeeee;
            border-style: solid;
            box-sizing: border-box;
            padding: 8px;
            vertical-align: top;
            width: 36.8966%;
        }

        td:nth-child(even) {
            border-color: #eeeeee;
            border-style: solid;
            box-sizing: border-box;
            padding: 8px;
            vertical-align: top;
            width: 62.931%;
        }


    }


}

.suggestion {
    padding: 0;

    .suggested-products {
        display: flex;
        flex-direction: row;

    }
}