.product-item {
    position: relative;
    padding: 10px;
    width: 200px;
    display: inline-block;
    background-color: white;

    .product-thumbnail {
        width: 100%;
        padding: 5px;

        .product-thumbnail-link {

            .product-thumbnail-image {
                display: block;
                max-height: 170px;
                max-width: 156px;
                width: 156px;
                height: 156px;
                width: 100%;
                // height: 100%;
                object-fit: cover;
            }
        }
    }

    .product-info {
        width: 100%;
        padding: 5px;
        text-align: center;
        display: flex;
        flex-direction: column;

        .product-name {
            min-height: 72px;
            overflow: hidden;
        }

        .product-price {
            display: flex;
            justify-content: center;
            line-height: 1.6rem;

            .sale {
                text-decoration: line-through;
                color: var(--text-secondary-color);
                font-size: 1.4rem;
            }

            .current {
                color: var(--price-color);
                font-weight: 700;

            }

        }

        .product-action {

            display: flex;
            flex-direction: row;
            visibility: hidden;

            button {
                margin: 0;
                width: 78px;
                height: 26px;
                padding: 0px 1px;
                font-size: 1.2rem;
                line-height: 1.2rem;
                font-weight: 400;
                border: 2px solid;
                border-radius: 0;
                border-color: var(--price-color);
            }

            .mua {
                background-color: var(--price-color);
                color: #fff;

            }

            .xem {
                background-color: #fff;
                color: var(--price-color);


            }
        }


    }


}

.product-sale {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 40px;
    height: 36px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 216, 64, 0.94);
    border-top-right-radius: 2px;

    .sale-off-percent {
        position: relative;
        top: 2px;
        color: #ee4d2d;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.2rem;
    }

    .sale-off-label {
        font-size: 1.3rem;
        line-height: 2rem;
        font-weight: 600;
        color: white;
    }


}

.product-sale::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    color: rgba(255, 216, 64, 0.94);
    border-color: transparent currentColor transparent currentColor;
}

.product-tiem::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    color: rgba(255, 216, 64, 0.94);
    border-color: transparent currentColor transparent currentColor;

}

.product-item:hover .product-action {
    visibility: visible;

}

.product-item :hover {
    transform: translateY(-1px);

}